.page {
    width: 1000px;
    margin: 0 auto;
    margin-top: 35px;
    padding: 0px 40px 0px 40px;
}
.header {
    display: flex;
    margin-bottom: 52px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    justify-content: space-between;
}
:link {
    text-decoration: none;
    color: black;
}
.link:hover {
    text-decoration: underline;
    color: #944BF1
}    
.header__logo {
    width: 134px;
    height:fit-content;            
}
.header__menu {
    display: flex;
    gap: 23px;
    padding-left: 0px;
    margin-left: 81px;
    margin-top: 8px;
}
.header_phone {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 8px;          
} 
.header_phone:hover {
    color: #944BF1;
}
.main__ac {
    width: 100%;
    height:fit-content;
    margin-bottom: 29px;
}           
.main_h1 {
    width: 840px;
    height: 193px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 111%;
    margin-bottom: 28px;
}
.main_lead {
    width: 726px;
    height: 109px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 39px; 
    margin-bottom: 36px;           
}
.main_cta {
    display:flex;
    align-items: baseline;
    margin-bottom: 96px;
}
.main_button {
    color: white;
    background-color: #944BF1;
    stroke: none;
    width: 199px;
    height: 65px;
    border-radius: 5px;
    border: none;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_button:hover{
    background-color: #7C3DCD;
}
.main_price {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    margin: 0px 0px 0px 17px;
}        
.footer {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
}
.footer_text {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;             
}
.footer_social_icon {
    width:61px;
    height:fit-content;
    margin-bottom: 0px;
}
.footer_social_icon:hover {
    color: #944BF1;
}
